.tabs__content {
    /* скрыть контент по умолчанию */
    display: none;
    border: none;
    margin-top: 15px;
    padding: 10px 0;
    font-size: 16px;
}

@media all and (max-width: 1100px) {
    .tabs__content {
        line-height: 120%;
        font-size: 13px;
    }
}
@media all and (max-width: 500px) {
    .tabs__conten {
        max-width: 500px;
        overflow: scroll;
    }
}