.close-link {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: center no-repeat;
    background-image: url(../../../icons/close.svg);
    border:none;
}

.close-link:hover {
    opacity: 0.8;
    cursor: pointer;
}

.close-link:disabled,
.close-link:disabled.disabled {
    background-image: url(../../../icons/Close_disabled.svg);
}