.token-info__subtitle {
    color: #000;
    font-size: 35px;
    font-weight: bold;
    align-self: start;
    grid-area: subtitle;
}

@media all and (max-width: 930px) {
    .token-info__subtitle {
        width: 90px;
        height: 48px;
        background: #FFFFFF;
        border-radius: 12px;
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        padding-top: 10px;
        box-sizing: border-box;
    }
}

@media all and (max-width: 930px) {
    .token-info__subtitle {
        align-self: start;
        margin-top: 0;
        justify-self: end;
    }
}