.paginator__select {
    position: absolute;
    right: 0;
    top: 0;
    width: 116px;
    height: 40px;
    padding: 14px 17px 14px 12px;
    box-sizing: border-box;
}

@media all and (max-width: 500px) {
    .paginator__select  {
        position: static;
        width: 97%;
        justify-self: center;
    }
  
}