.user-panel-info__blook {
    background: #DADADA;
    height: 1px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

@media all and (max-width: 630px) {
    .user-panel-info__blook {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }
}